body
{
	background-color: #ddff99;
}
header
{
	text-align: center;
	font-size: 45px;
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: solid 1px;
}

nav
{
	text-align: center;
	border-bottom: solid 1px;
	padding-bottom: 5px;
	margin-bottom: 50px
}

.content
{
	background-color: #00cc00;
	border-radius: 30px;
	padding-top: 15px;
	margin-left: 25%;
	margin-right: 30%;
	margin-bottom: 25px;
	list-style-type:none;

}

.button
{
	color: red;
}

#add
{
	text-align: left;
	font-size: 20px;
	margin-left: 15%;
}

#buttonOk
{
	margin-left: 10%;
	height: 50px; 
	width: 250px;
}